/* signout.css
 *
 * Copyright 2020-2021 Thomas Butterworth <dmr@davidrosenberg.me>
 *
 * Distributed under terms of the MIT license. */

.flex-container {
  display: flex;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
}

#addform {
  padding: 5% 30% 5% 30%;
}

table.sortable tbody tr:nth-child(2n) td {
  background: white;
}

table.sortable tbody tr:nth-child(2n + 1) td {
  background: #dddddd;
}

#wrapclock {
  display: inline-block;
  width: 50%;
  margin: 2% 2% auto 30%;
}

#runningclock {
  text-align: left;
}

/* vim:ft=css  : */
