{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/signout.css">
<script src="/static/signout.js"></script>
{% endblock %}
{% block title %}MSKCC Signout Admin{% endblock %}
{% block body %}
<center>
  <h1>MSKCC Signout Admin Page</h1>
  <a href="/submission" class="button"><button>Return to submission form</button></a>
  <br><br>
  <a href='/nightfloat?list=NF9132' class="button"><button>Night float 9132 callback page</button></a>
  <a href='/nightfloat?list=NF9133' class="button"><button>Night float 9133 callback page</button></a>
  <br><br>
  <a href='/query' class="button"><button>Query the signout log</button></a>
  <br>
  <br>
  <a href="/servicelist" class="button"><button>Modify NF service assignments</button></a>
  <a href="/addservice" class="button"><button>Add a new service assignment</button></a>
  <br>
  <br>
  <a href="/config" class="button"><button>View server configuration</button></a>
  <br>
  <br>
  <a href="/logout" class="button"><button>Log out of admin panel</button></a>
  <br>
  <br>
{% endblock %}
