{% extends "base.html" %}
{% block head %}
{{ super() }}
<meta http-equiv="refresh" content="300">
<link rel="stylesheet" href="/static/signout.css">
<script src="/static/signout.js"></script>
{% endblock %}
{% block title %}Primary Teams Ready-To-Signout Submission{% endblock %}
{% block bodyattributes %} onload="displayTime(); insertContact()"{% endblock %}
{% block body %}
<center>
  <button onClick="location.href='/nightfloat?list=NF9132'">Night float 9132 callback page</button>
  <button onClick="location.href='/nightfloat?list=NF9133'">Night float 9133 callback page</button>
  <br>
  <button onClick="location.href='/query'">Query the signout log</button>
  <br>
  <div id="runningclock"></div>
</center>
<br>
<hr>
<h3>Important signout information.</h3>
<ul>
  <li><strong>WARNING: This site works best using Google Chrome or Firefox.  Internet explorer (IE) is buggy and not recommended.</strong></li>
  <li>If you are putting your name down after 7:30 pm, it is possible that nightfloat might not see your name being added to the list.  Please page the night float number (9132 or 9133) to let them know you've added yourself to the list</li>
  <li>Oral signouts should follow the modified <strong>IPASS</strong> format, available <a href="/static/mskcc_ipass.pdf">here</a></li>
  <li>Before adding your name, please ensure that you've done all pre-signout requirements, listed <a href="/static/pre_signout_checklist.pdf">here</a></li>
  <li><strong>WEEKENDS ONLY</strong>: If you are signing out multiple lists, you can select multiple lists in the forms below</strong></li>
</ul>
<hr>
<br>

  <center><h1>NF 9132 (GI/Breast/STR)</h1></center><br>
    <div class="flex-container">
    <div class="submissionform">
      <form id="signoutready" action="" method="POST">
        <h3>Primary Team Ready-To-Signout</h3>
        <h4>Do not complete until you are ready to signout</h4>
        <fieldset>
          <input name="intern_name" id="intern_name" placeholder="Your name" type="text" required>
        </fieldset>
        <fieldset>
          <input name="intern_callback" id="intern_callback" placeholder="Your contact number" type="tel" pattern=".*[0-9]{4}.*" maxlength=15 required>
        </fieldset>
        <fieldset>
          <select multiple id="service" name="service" required>
            {% for service in solid_services %}
            <option value="{{ service.id }}">{{ service.name }}</option>
            {% endfor %}
          </select>
        </fieldset>
        <input type="hidden" id="oncall" name="oncall" value="FALSE">
        <input type="hidden" id="hosttimestamp" name="hosttimestamp" value="">
        <fieldset>
          <button name="submit" type="submit" id="submit" onclick="return nonCallSubmit()">Submit</button>
        </fieldset>
      </form>
    </div>
    <div class="currentlist" style="flex: 0 0 600px">
      <h3>Primary teams signed up</h3>
      <table style="width:100%;text-align:left;">
        <tr>
          <th>Intern/Resident/APP</th>
          <th>Service</th>
          <th>Time marked ready</th>
          <!-- <th>Signout duration</th> -->
        </tr>
        {% for intern in noncall_solid_interns %}
        <tr style="color:{{ intern.fgcolor }}">
          <td>{{ intern.intern_name|striptags }}</td>
          <td>{{ intern.name }}</td>
          <td>{{ intern.addtime }}</td>
          <!-- <td>{{ intern.elapsedtime }}</td> -->
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <center><h1>NF 9133 (Leukemia, Lymphoma, Gen Med)</h1></center><br>
  <div class="flex-container">
    <div class="submissionform">
      <form id="signoutready" action="" method="POST">
        <h3>Primary Team Ready-To-Signout</h3>
        <h4>Do not complete until you are ready to signout</h4>
        <fieldset>
          <input name="intern_name" id="intern_name" placeholder="Your name" type="text" required>
        </fieldset>
        <fieldset>
          <input name="intern_callback" id="intern_callback" placeholder="Your contact number" type="tel" pattern=".*[0-9]{4}.*" maxlength=15 required>
        </fieldset>
        <fieldset>
          <select multiple id="service" name="service" required>
            {% for service in liquid_services %}
            <option value="{{ service.id }}">{{ service.name }}</option>
            {% endfor %}
          </select>
        </fieldset>
        <input type="hidden" id="oncall" name="oncall" value="FALSE">
        <input type="hidden" id="hosttimestamp" name="hosttimestamp" value="">
        <fieldset>
          <button name="submit" type="submit" id="submit" onclick="return nonCallSubmit()">Submit</button>
        </fieldset>
      </form>
    </div>
    <div class="currentlist" style="flex: 0 0 600px">
      <h3>Primary teams signed up</h3>
      <table style="width:100%;text-align:left;">
        <tr>
          <th>Intern/Resident/APP</th>
          <th>Service</th>
          <th>Time marked ready</th>
          <!-- <th>Signout duration</th> -->
        </tr>
        {% for intern in noncall_liquid_interns %}
        <tr style="color:{{ intern.fgcolor }}">
          <td>{{ intern.intern_name|striptags }}</td>
          <td>{{ intern.name }}</td>
          <td>{{ intern.addtime }}</td>
          <!-- <td>{{ intern.elapsedtime }}</td> -->
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

{% endblock %}

<!-- vim: ft=htmldjango 
-->
